@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-padding-start: 0px;
}

body {
  font: 15px/1.7em "Open Sans", Arial, sans-serif;
  color: #555555;
  background: #f9f9f9;
  padding: 2em;
}
@media screen and (max-width: 1000px) {
  body {
    padding: 0.8em;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

img {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 100%;
  height: auto;
}

blockquote:before {
  content: "‘‘";
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 101px;
  color: #dddddd;
  position: absolute;
  left: 0;
  top: 47px;
}

blockquote {
  padding: 10px 10px 10px 50px;
  font-size: 15px;
  position: relative;
  color: #575757;
}

pre {
  margin: 15px 0;
  padding: 10px 30px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  font-family: "Droid Serif";
  font-size: 14px;
  color: #777777;
}

ul > li {
  list-style: square;
}

strong, b {
  font-weight: bold;
}

menu, ol, ul {
  padding: 0 0 0 40px;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

a {
  color: #00a6e8;
  text-decoration: none;
}
a:hover, a:focus {
  color: #0085ba;
}

::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

*:link, *:visited, *:hover, *:active, *:focus, * {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

input[type="submit"] {
  outline: 0;
  font-size: 16px;
  background-color: #0078e7;
  color: white;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 11px 15px 12px 15px;
  text-align: center;
  cursor: pointer;
  border: none;
  zoom: 1;
}
input[type="submit"]:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.05));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.05));
}

input[type="text"] {
  outline: 0;
  border: 2px solid #dddddd;
  padding: 8px 0 9px 10px;
  color: #888888;
  width: 70%;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 0.08s ease-in;
  -moz-transition: all 0.08s ease-in;
  -ms-transition: all 0.08s ease-in;
  -o-transition: all 0.08s ease-in;
  transition: all 0.08s ease-in;
}
input[type="text"]:active, input[type="text"]:focus {
  border-color: #aaaaaa;
}

textarea {
  outline: 0;
  border: 2px solid #dddddd;
  padding: 8px 0 9px 10px;
  color: #888888;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 0.08s ease-in;
  -moz-transition: all 0.08s ease-in;
  -ms-transition: all 0.08s ease-in;
  -o-transition: all 0.08s ease-in;
  transition: all 0.08s ease-in;
}
textarea:active, textarea:focus {
  border-color: #aaaaaa;
}

input[type="text"].search {
  width: 100%;
}

.container {
  *zoom: 1;
  max-width: 95em;
  _width: 95em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.column-left {
  width: 76.69903%;
  float: left;
  margin-right: 0.97087%;
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 300;
  color: #444444;
  text-rendering: optimizeLegibility;
  padding-top: 0.273em;
  line-height: 1.15538em;
  padding-bottom: 0.273em;
}

h1 {
  font-size: 42px;
  font-size: 2.625rem;
  font-family: "Open Sans", "微軟正黑體", sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #777777;
  line-height: 2em;
}

.wrapper {
  *zoom: 1;
  max-width: 95em;
  _width: 95em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background: white;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 15px #cccccc;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.inner {
  margin: 0 10em;
}
@media screen and (min-width: 960px) and (max-width: 1440px) {
  .inner {
    margin: 0 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .inner {
    margin: 0 20px;
  }
}
@media screen and (max-width: 599px) {
  .inner {
    margin: 0;
  }
}

.header {
  *zoom: 1;
  max-width: 95em;
  _width: 95em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

.header-description {
  font-size: 15px;
  line-height: 1.48;
  padding: 0;
  margin: 0;
  color: #888888;
}

.header-logo {
  color: #666666;
}
@media screen and (max-width: 767px) {
  .header-logo {
    text-align: center;
  }
}
.header-logo a {
  color: #666666;
  text-decoration: none;
}

.header-gp {
  width: 41.05263%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  margin: 40px 0;
}
@media screen and (max-width: 767px) {
  .header-gp {
    width: 100%;
    margin: 25px 0 0;
  }
}

.gallery {
  float: left;
  margin: 0px -165px 0px -165px;
}
@media screen and (max-width: 1440px) {
  .gallery {
    margin: 0px -65px 0px -65px;
  }
}
@media screen and (max-width: 960px) {
  .gallery {
    margin: 0px -35px 0px -35px;
  }
}
.gallery img {
  float: left;
}

.gallery-half {
  width: 50%;
  float: left;
}
@media screen and (max-width: 767px) {
  .gallery-half {
    width: 100%;
  }
}
.gallery-half:hover {
  opacity: 0.8;
}

.hover {
  background: #feffe4;
}

.nav {
  width: 57.89474%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 32%;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .nav {
    bottom: 0;
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    bottom: 0;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
  }
}
.nav li {
  float: right;
  position: relative;
  list-style: none;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .nav li {
    width: 100%;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #dedede;
  }
  .nav li:last-child {
    border: none;
  }
}
.nav li > a {
  text-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 16px;
  color: #666666;
  font-family: "Open sans", "微軟正黑體", "Microsoft yahei", sans-serif;
  padding: 15px 8px;
}
@media screen and (max-width: 600px) {
  .nav li > a {
    padding: 7px 0;
  }
}
.nav li > a:hover {
  color: #f39c12;
  text-decoration: none;
}
.nav a {
  display: block;
}

article p {
  line-height: 1.7;
  margin: 10px 0;
  color: #555555;
  vertical-align: bottom;
  letter-spacing: 0.025em;
  font-family: "Droid Serif", sans-serif;
}

.cont-title {
  letter-spacing: -2.5px;
  color: #555555;
}
.cont-title a {
  text-decoration: none;
  line-height: 42px;
  color: #555555;
  font-weight: 300;
}
.cont-title a:hover {
  color: #f39c12;
}

.article {
  width: 100%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0;
  clear: both;
}

.cont-title-small {
  width: 71.17117%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  font-size: 26px;
  font-size: 1.625rem;
  letter-spacing: -2.5px;
  color: #555555;
}
.cont-title-small a {
  text-decoration: none;
  line-height: 42px;
  color: #555555;
  font-weight: 300;
}
.cont-title-small a:hover {
  color: #f39c12;
}

.article-inside {
  width: 100%;
  float: left;
  border-top: 1px dotted #dddddd;
  padding-top: 30px;
}

.article .article-meta:after {
  display: table;
  clear: both;
}

.cont-title {
  padding-left: 16.84211%;
  width: 71.17117%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

.article-meta {
  width: 27.92793%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
  padding-top: 10px;
}

.cont {
  width: 71.17117%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

.article-author-archive {
  width: 100%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
  border-top: 1px solid #e2d5c1;
  position: relative;
  padding: 30px 0;
  background: #fdfaf5;
  margin-top: 25px;
  border-bottom: 1px solid #e2d5c1;
}

.article-author {
  width: 71.17117%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  border-top: 1px solid #e2d5c1;
  position: relative;
  padding: 30px 0;
  background: #fdfaf5;
  margin-top: 25px;
  border-bottom: 1px solid #e2d5c1;
}

.article-thumb {
  margin-top: 17px;
  width: 26.03604%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
  margin-right: 2.21053%;
}

.author-avatar {
  width: 15.78947%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
.author-avatar img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.author-text {
  width: 83.15789%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

.author-description {
  padding-top: 10px;
  width: 100%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}

.author-name {
  padding: 0;
  margin: 0;
  line-height: 1.48;
  display: inline-block;
  width: 32.63158%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}

.author-social {
  width: 66.31579%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  padding: 6.5px 0;
  text-align: right;
  margin: 0;
}

.author-top {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: -13px;
}
.author-top span {
  background: white;
  padding: 7px 10px;
  border: 1px solid #e2d5c1;
  border-radius: 3px;
  color: #aa9068;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.article-meta .meta-category, .article-meta .meta-time, .article-meta .meta-comment {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  float: right;
  text-align: right;
  padding-right: 20px;
  font-size: 13px;
  color: #888888;
}
.article-meta .meta-category a, .article-meta .meta-time a, .article-meta .meta-comment a {
  text-decoration: none;
  color: #888888;
}
.article-meta .meta-category a:hover, .article-meta .meta-time a:hover, .article-meta .meta-comment a:hover {
  color: #00a6e8;
}

.article-inside .meta-category {
  opacity: 1;
}
.article-inside .meta-category, .article-inside .meta-time, .article-inside .meta-comment {
  width: 100%;
  float: left;
  margin-right: 14.28571%;
  display: inline;
  float: left;
  text-align: left;
  font-size: 13px;
  color: #888888;
  border-bottom: 1px solid #dddddd;
  padding: 7px 0;
}
.article-inside .meta-category a, .article-inside .meta-time a, .article-inside .meta-comment a {
  text-decoration: none;
  color: #888888;
}
.article-inside .meta-category a:hover, .article-inside .meta-time a:hover, .article-inside .meta-comment a:hover {
  color: #00a6e8;
}

.article-meta-small {
  width: 71.17117%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
.article-meta-small .meta-category, .article-meta-small .meta-time, .article-meta-small .meta-comment {
  float: left;
  text-align: left;
  padding-right: 10px;
  font-size: 13px;
  color: #888888;
}
.article-meta-small .meta-category a, .article-meta-small .meta-time a, .article-meta-small .meta-comment a {
  text-decoration: none;
  color: #888888;
}
.article-meta-small .meta-category a:hover, .article-meta-small .meta-time a:hover, .article-meta-small .meta-comment a:hover {
  color: #00a6e8;
}

.meta-category {
  opacity: 0;
}

*, *:before, *:after {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.article-meta i, .article-meta-small i, .article-inside i {
  margin-right: 2px;
  opacity: 0.5;
}

.article:hover .meta-category {
  opacity: 1;
}

.more-link {
  display: none;
}

@media screen and (max-width: 767px) {
  .right-sidebar {
    display: none;
  }
}

.sidebar {
  width: 27.92793%;
  float: left;
  margin-right: 0.9009%;
  display: inline;
  position: relative;
  z-index: 10;
  background: white;
}
.sidebar section {
  margin-right: 20px;
  float: left;
}
.sidebar section menu, .sidebar section ol, .sidebar section ul {
  padding: 0 0 0 25px;
}

.sidebar-meta {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .sidebar-meta {
    margin: 0;
  }
}

.gad {
  float: left;
  width: 100%;
  margin: 20px 0;
}
.gad .gad-code {
  width: 300px;
  margin: 0 auto;
}

.breadcrumb {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  background: transparent;
  font-size: 13px;
  color: #999999;
  padding: 0;
}

.breadcrumb li {
  margin: 0;
  display: inline-block;
  text-shadow: 0 1px 0 white;
}

.breadcrumb i {
  vertical-align: middle;
  opacity: 0.5;
  margin: 0px 4px 0 0;
}

.breadcrumb a {
  color: #999999;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #cccccc;
}

.bread {
  width: 71.17117%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

.pagenavi {
  width: 100%;
  float: left;
  margin-right: 14.28571%;
  display: inline;
  display: block;
  float: left;
  margin: 20px 0;
  padding: 0;
}
.pagenavi li {
  list-style: none;
  float: left;
}

.navi-info {
  padding: 10px;
  background: #666666;
  color: white;
}

.pagenavi a {
  padding: 10px 15px;
  background: #666666;
  color: white;
  text-decoration: none;
  float: left;
}
.pagenavi a:hover {
  background: #888888;
}

.disabled {
  background: #aaaaaa;
}
.disabled:hover {
  background: #aaaaaa;
}

.footer {
  padding: 30px 0;
  width: 100%;
  float: left;
  margin-right: 14.28571%;
  display: inline;
}

.footer-copyright {
  float: left;
}

.footer-meta {
  float: right;
}

#comments {
  width: 71.17117%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  padding-top: 20px;
}

#comments li {
  list-style: none;
}

#comments li.comment-list-box {
  padding: 10px 0 20px 55px;
  margin: 0;
  list-style: none;
  background: white;
  margin: 20px 0;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

#comments li.comment-list-box .comment-author img {
  position: absolute;
  left: 0;
  float: left;
  margin: 0px 10px 5px 0px;
  border-radius: 50%;
  border: 1px solid #cccccc;
}

#comments li.comment-list-box a.comment-reply-link {
  border: 1px solid #dddddd;
  padding: 5px 13px;
  color: #888888;
  border-radius: 20px;
  font-size: 13px;
  display: inline-block;
}

#comments li.comment-list-box a.comment-reply-link:hover {
  background: #eeeeee;
  color: #888888;
  text-decoration: none;
}

#comments ul.children {
  margin: 0;
  padding: 0;
}

#comments ul.children li {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#comments ul.children ul {
  margin-left: 20px;
}

#comments p {
  line-height: 1.5;
  margin: 10px 0;
}

#comments input[type="text"] {
  width: 30%;
}

#comments .comment-meta {
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

ol.comment_list {
  margin: 10px 0 10px 0;
  padding: 0;
}

.paviinfo {
  margin: 10px 0;
  border-left: 10px solid #cccccc;
  padding-left: 10px;
}

.page-numbers {
  background: #999999;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  display: inline;
  text-shadow: none;
}

.page-numbers.current {
  background: #666666;
}

.page-numbers:hover {
  color: white;
  background: #666666;
  text-decoration: none;
}

#share_button {
  height: 145px;
  width: 70px;
  left: auto;
  padding: 12px 0 0 0;
  position: fixed;
  top: 450px;
  z-index: 5;
  margin-left: -150px;
}
@media screen and (max-width: 767px) {
  #share_button {
    display: none;
  }
}

.like-fb, .like-g {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .cont-title, .article-meta, .cont, .article-thumb, .cont-title-small, .article-meta-small, .bread, #comments, .article-author, .author-social, .author-avatar {
    width: 100%;
    padding-left: 0;
  }

  .cont-title {
    font-size: 26px;
    font-weight: bold;
  }
  .cont-title a {
    font-size: 26px;
    font-weight: bold;
  }

  .article-meta {
    padding-top: 0;
  }

  .article-meta .meta-category, .article-meta .meta-time, .article-meta .meta-comment {
    width: auto;
    float: left;
  }

  .article-inside .meta-category, .article-inside .meta-time, .article-inside .meta-comment {
    float: left;
    text-align: left;
    font-size: 13px;
    color: #888888;
    border-bottom: none;
    padding: 2px 0;
    width: auto;
    margin-right: 15px;
  }

  .sidebar {
    width: 100%;
    float: left;
    margin-right: 14.28571%;
    display: inline;
  }

  .author-text {
    margin: 0 15px;
    width: auto;
    text-align: center;
  }

  .author-description {
    text-align: left;
  }

  .author-social, .footer-copyright, .footer-meta {
    text-align: center;
    float: none;
  }

  .author-name {
    float: none;
    margin-left: 20px;
  }

  .author-avatar img {
    float: none;
    display: inline;
    vertical-align: middle;
  }
}
